@font-face {
  font-family: "iconfont"; /* Project id 2901556 */
  src: url('iconfont.woff2?t=1697930933820') format('woff2'),
       url('iconfont.woff?t=1697930933820') format('woff'),
       url('iconfont.ttf?t=1697930933820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-close-box:before {
  content: "\e6b5";
}

.i-close:before {
  content: "\e6b7";
}

.i-window-minimize:before {
  content: "\e93e";
}

.i-cart-outline:before {
  content: "\e68e";
}

.i-crop-free:before {
  content: "\e6dc";
}

.i-image-filter-frames:before {
  content: "\e7b1";
}

.i-printer:before {
  content: "\e860";
}

.i-tab:before {
  content: "\e8ce";
}

.i-zip-box:before {
  content: "\e948";
}

.i-lock:before {
  content: "\e770";
}

.i-unlock:before {
  content: "\e87b";
}

.i-scissors-fill:before {
  content: "\e68f";
}

.i-emphasis-cn:before {
  content: "\e6f4";
}

.i-find-replace-fill:before {
  content: "\e833";
}

.i-chart-areaspline:before {
  content: "\e697";
}

.i-json:before {
  content: "\e7bd";
}

.i-minus-box:before {
  content: "\e7fb";
}

.i-plus-box:before {
  content: "\e857";
}

.i-routes:before {
  content: "\e882";
}

.i-star:before {
  content: "\e8be";
}

.i-star-outline:before {
  content: "\e8bf";
}

.i-account-box:before {
  content: "\e602";
}

.i-all-inclusive:before {
  content: "\e615";
}

.i-briefcase:before {
  content: "\e672";
}

.i-database:before {
  content: "\e6ec";
}

.i-table:before {
  content: "\e8cf";
}

.i-unfold-less:before {
  content: "\e907";
}

.i-unfold-more:before {
  content: "\e908";
}

.i-wrap:before {
  content: "\e941";
}

.i-format-annotation-plus:before {
  content: "\e757";
}

.i-format-bold:before {
  content: "\e758";
}

.i-format-indent-increase:before {
  content: "\e761";
}

.i-format-indent-decrease:before {
  content: "\e762";
}

.i-format-line-spacing:before {
  content: "\e763";
}

.i-format-size:before {
  content: "\e769";
}

.i-format-strikethrough:before {
  content: "\e76a";
}

.i-format-underline:before {
  content: "\e76f";
}

.i-keyboard-return:before {
  content: "\e7c4";
}

.i-reply:before {
  content: "\e879";
}

.i-reply-all:before {
  content: "\e87a";
}

.i-content-duplicate:before {
  content: "\e6d1";
}

.i-content-copy:before {
  content: "\e6d3";
}

.i-arrow-expand:before {
  content: "\e62a";
}

.i-credit-card-off:before {
  content: "\e6da";
}

.i-link:before {
  content: "\e7d9";
}

.i-link-off:before {
  content: "\e7da";
}

.i-cursor-move:before {
  content: "\e6eb";
}

.i-puzzle:before {
  content: "\e865";
}

.i-chevron-down:before {
  content: "\e6a9";
}

.i-chevron-left:before {
  content: "\e6aa";
}

.i-chevron-right:before {
  content: "\e6ab";
}

.i-chevron-up:before {
  content: "\e6ac";
}

.i-close-circle:before {
  content: "\e6b6";
}

.i-cookie:before {
  content: "\e6d6";
}

.i-textbox:before {
  content: "\e8e0";
}

.i-apple-keyboard-command:before {
  content: "\e61d";
}

.i-code-string:before {
  content: "\e6c2";
}

.i-comment-text:before {
  content: "\e6cd";
}

.i-content-paste:before {
  content: "\e6d2";
}

.i-arrow-up-bold-circle-outline:before {
  content: "\e637";
}

.i-open-in-new:before {
  content: "\e82b";
}

.i-regex:before {
  content: "\e875";
}

.i-rename-box:before {
  content: "\e877";
}

.i-sitemap:before {
  content: "\e8a9";
}

.i-slack:before {
  content: "\e8af";
}

.i-palette-line:before {
  content: "\e68c";
}

.i-node-tree:before {
  content: "\e6ff";
}

.i-more-fill:before {
  content: "\e84d";
}

.i-checkerboard:before {
  content: "\e6a6";
}

.i-contrast-box:before {
  content: "\e6d5";
}

.i-dns:before {
  content: "\e703";
}

.i-eyedropper:before {
  content: "\e723";
}

.i-gradient:before {
  content: "\e78e";
}

.i-grid:before {
  content: "\e790";
}

.i-grid-off:before {
  content: "\e791";
}

.i-invert-colors:before {
  content: "\e7bb";
}

.i-link-variant:before {
  content: "\e7d8";
}

.i-server-network:before {
  content: "\e896";
}

.i-layout-5-fill:before {
  content: "\e684";
}

.i-layout-6-fill:before {
  content: "\e685";
}

.i-emotion-happy-line:before {
  content: "\e876";
}

.i-magnify:before {
  content: "\e7e2";
}

.i-more:before {
  content: "\e7ff";
}

.i-rotate-left:before {
  content: "\e880";
}

.i-shuffle-variant:before {
  content: "\e8a0";
}

.i-sigma:before {
  content: "\e8a1";
}

.i-target:before {
  content: "\e8d9";
}

.i-tune-vertical:before {
  content: "\e901";
}

.i-code-box-fill:before {
  content: "\e72b";
}

.i-download-2-fill:before {
  content: "\e850";
}

.i-external-link-line:before {
  content: "\e853";
}

.i-eye-line:before {
  content: "\e855";
}

.i-eye-close-line:before {
  content: "\e856";
}

.i-settings-3-fill:before {
  content: "\e86f";
}

.i-alert-circle-outline:before {
  content: "\e614";
}

.i-archive:before {
  content: "\e624";
}

.i-chart-bar:before {
  content: "\e698";
}

.i-cube-send:before {
  content: "\e6e2";
}

.i-delete:before {
  content: "\e6f1";
}

.i-delete-forever:before {
  content: "\e6f3";
}

.i-domain:before {
  content: "\e704";
}

.i-email:before {
  content: "\e712";
}

.i-history:before {
  content: "\e79f";
}

.i-loupe:before {
  content: "\e7de";
}

.i-pin:before {
  content: "\e849";
}

.i-pin-off:before {
  content: "\e84a";
}

.i-plus-circle:before {
  content: "\e854";
}

.i-timer-sand-empty:before {
  content: "\e8ed";
}

.i-timetable:before {
  content: "\e8ee";
}

.i-wrench:before {
  content: "\e940";
}

.i-magnify-plus:before {
  content: "\e7e0";
}

.i-magnify-minus:before {
  content: "\e7e1";
}

.i-pause-circle:before {
  content: "\e837";
}

.i-play-circle:before {
  content: "\e84f";
}

.i-power:before {
  content: "\e85d";
}

.i-skip-next-circle:before {
  content: "\e8ab";
}

.i-skip-previous-circle:before {
  content: "\e8ad";
}

.i-web:before {
  content: "\e935";
}

.i-clock:before {
  content: "\e6b3";
}

.i-keyboard:before {
  content: "\e7c0";
}

.i-keyboard-off:before {
  content: "\e7c1";
}

.i-label:before {
  content: "\e7c2";
}

.i-label-outline:before {
  content: "\e7c3";
}

.i-lightbulb:before {
  content: "\e7d6";
}

.i-lightbulb-outline:before {
  content: "\e7d7";
}

.i-numeric:before {
  content: "\e814";
}

.i-pound-box:before {
  content: "\e85c";
}

.i-priority-high:before {
  content: "\e861";
}

.i-priority-low:before {
  content: "\e862";
}

.i-refresh:before {
  content: "\e874";
}

.i-sort:before {
  content: "\e8b3";
}

.i-sort-descending:before {
  content: "\e8b4";
}

.i-sort-alphabetical:before {
  content: "\e8b5";
}

.i-sort-ascending:before {
  content: "\e8b6";
}

.i-backspace:before {
  content: "\e63f";
}

.i-filter:before {
  content: "\e73b";
}

.i-filter-remove:before {
  content: "\e73c";
}

.i-flag:before {
  content: "\e73e";
}

.i-key:before {
  content: "\e7be";
}

.i-lan-disconnect:before {
  content: "\e7c6";
}

.i-lan-connect:before {
  content: "\e7c7";
}

.i-wifi:before {
  content: "\e93a";
}

.i-wifi-off:before {
  content: "\e93b";
}

.i-radiobox-marked:before {
  content: "\e86a";
}

.i-radiobox-blank:before {
  content: "\e86b";
}

.i-checkbox-blank:before {
  content: "\e69d";
}

.i-checkbox-marked:before {
  content: "\e69f";
}

