@charset "utf-8";
#tablePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
tbody,tr {
    border-color: inherit;
}
th {
    font-weight: normal;
}
td {
    padding: 2px 6px;
}
td.content {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
}
td.month {
    vertical-align: top;
}