@charset "utf-8";
main {
    margin: auto;
    max-width: 1200px;
}
table {
    margin: 1em 0;
    border-collapse: collapse;
}
caption {
    font-weight: bold;
    font-size: large;
}
th,td {
    min-width: 24px;
    border: 1px solid gray;
    padding: 2px 8px;
}
.file-path {
    font-family: Courier, monospace;
}