@charset "utf-8";
body,textarea {
    font-family: 'Times New Roman', 'Microsoft YaHei', monospace;
}
textarea {
    min-width: 400px;
    min-height: 200px;
    font-size: 20px;
    resize: vertical;
}
table {
    margin: auto;
    border-collapse: collapse;
}
td {
    border: 1px solid #636363;
}
td.selected {
    outline: 4px solid #fa4828;
}
td.cell {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}
td.gap {
    height: 10px;
    line-height: 10px;
    font-size: 8px;
    user-select: none;
}